nav {
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

table {
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

table > th {
  background-color: aquamarine;
  text-align: center;
}

td,
th {
  border: 1px solid #ddd;
  text-align: center;
}
