nav {
  display: flex;
  justify-content: space-around;
}

nav button {
  padding: 20px;
  font-size: 20px;
  font-family: lato;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}

table td,
table tr {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

table > th {
  background-color: aquamarine;
}

#movie {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

#movie img {
  width: 100%;
}
